body{
	display: inline;
	background-color: rgb(0, 38, 48);
	color: #fff;
}

a{
	color: #fff;
	text-decoration: none;
}

button{
	background-color: rgb(0, 146, 214);
	border-radius: 5px;
	border: none;
	font-size: 24px;
	margin-right: 20px;
}

.uppercase{
	color:  rgb(0, 146, 214);
	margin-left: 10px;
	text-transform: uppercase;
}