<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Hello,<span class="uppercase"><%= name %></span> </h1>
	<h3>Your ID, <%= id %></h3>

	
	<a href="/emp/create"><button>Create User</button></a> 
	<a href="/emp_home/userlist"><button>User list</button></a> 
	<a href="/logout"><button>logout</button></a>

</body>
</html>
